* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual1 {
  height: 200px; /* 高さ300px */
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual2 {
  height: 200px; /* 高さ300px */
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual3 {
  height: 200px; /* 高さ300px */
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual4 {
  height: 200px; /* 高さ300px */
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
