* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text {
  padding: 20px;
}

main {
  width: 840px;
  display: flex;
  justify-content: center; /* 要素の横並び・中央寄せ */
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  padding: 50px 0; /* 上下に50px、左右に0pxの内側余白 */
}

.blog-item {
  width: 840px;
  border-bottom: 1px solid #a09e9e;
  padding-bottom: 30px;
  padding-top: 30px;
}

.blog-text {
  font-size: 12px;
}

.blog-url {
  font-size: 12px;
}
