/* flex-wrapやflex-directionを使っても横ならびにならない */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.nav-list {
  text-align: center; /*テキストや画像の行揃えを設定するプロパティ*/
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #6c6b6b;
  border-bottom: 1px solid #6c6b6b;
}

.nav-list-item {
  list-style: none; /*箇条書きリスト行頭のスタイルを制御できるプロパティ */
  display: inline-block; /*要素の表示形式を設定するプロパティ*/
  margin: 0 20px;
}

.main {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.block2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.block3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.block4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.block5 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.block6 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.block7 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.block8 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.block9 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.block10 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.block11 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.block12 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #6c6b6b;
}

.footer-text {
  color: white;
}
